body{
    display: flex;
    background-image: linear-gradient(rgb(15, 96, 150),rgb(0, 0, 0));
    background-repeat: no-repeat;
    /* border-color: black; */
    border: solid;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;

    border: 2px solid;
    border-color: white;

    padding: 5px;

    width: 60vw;

    height: 70vh;
    border-radius: 10px;

    max-width: 500px ;

}

.container>button{
    border: 2px solid;
    border-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 40px;
    
}

.container>button:hover{
    color: black;
    background-color: #fff;
}

.container>button:active{
    background-color: #6e6666;
}

#text1{
    grid-column-start: 1;
    grid-column-end: 5;

    height: 90px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;

    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

    font-size: 40px;
    resize: none;
}

@media screen and (max-width:600px) {
    
    #text1{
        font-size: 20px;
    }
    
}

#cut{
    grid-row-start: 2;
    grid-column-start: 3;
    grid-column-end: 5;

}

#box{
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

#pluse{
    grid-row-start: 3;
    grid-column-start: 4;
}
#minuse{
    grid-row-start: 4;
    grid-column-start: 4;
}
#multi{
    grid-row-start: 5;
    grid-column-start: 4;
}
#devide{
    grid-row-start: 6;
    grid-column-start: 4;
}
